* {
    margin: 0;
    padding: 0;
}
.bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    color: black;
    padding: 25px;
}
.nav {
    padding: 25px;
}

.nav a {
    text-decoration: none;
    color:black;
    padding: 9px;
}

.nav a:hover {
    color: red;
}

.about{
    display: flex;
    justify-content: space-around;
    margin: 70px;
}
h1{
    margin-left:70px ;
    margin-top: 50px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1::first-letter{
    color: red;
}
.para{
    color: black;
    font-size: 20px;
}
.para p{
    margin-top: 10px;
}
.about img{
    width: 480px;
}
@media screen and (max-width:900px) and (min-width:640px){
    .para{
        font-size: 15px;
    }
    .about img{
        width: 300px;
    }
}
@media screen and (max-width:640px) and (min-width:500px) {
    .nav {
        display: flex;
        font-size: 12px;
    }

    .nav a:hover {
        color: rgb(255, 0, 30);
        background: none;
    }
    
    .para{
        font-size: 10px;
    }
    .para p{
        font-size: 10px;
    }
    .about img{
        width: 200px;
    }
    
}

@media screen and (max-width:499px) {
    .logo {
        font-size: 15px;
    }
    
    .nav {
        display: grid;
        font-size: 10px;
    }

    .nav a:hover {
        color: rgb(0, 255, 179);
        background: none;
    }
    h1{
        margin-top: 80px;
        margin-left: 30px;
    }
    .about{
        display: block;
        margin: 30px;

    }
    .about img{
        width: 100%;
        padding-top: 20px;
    }
    .para{
        font-size: 12px;
    }
    .para p{
        font-size: 12px;
    }
}